#edit-journal-page {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 60rem;
	margin: 0 auto;

	.heading {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.back {
		text-decoration: none;
	}

	.body {
		display: grid;
		align-items: flex-start;
		grid-gap: 3rem;

		& > * {
		}

		& > :first-child {
		}

		@media screen and (min-width: 40rem) {
			grid-template-columns: 2fr 1fr;
		}
	}

	.right-margin {
		display: grid;
		grid-gap: 1rem;
	}
}
