#journal-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;

	max-width: 40rem;
	margin: 0 auto;
	border-radius: .5rem;
	padding: 2rem 1rem;
	box-shadow: 0 0 1.5rem #ccc;

	.label-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 1rem;
	}
}

