@import url("/assets/css/journal/form.css");
@import url("/assets/css/journal/edit.css");
@import url("/assets/css/journal/new.css");
@import url("/assets/css/journal/view.css");
@import url("/assets/css/journal/list.css");
