#journal-list-page {
	max-width: 40rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.link {
		display: inline-flex;
		justify-content: space-between;
	}

	.top {
		display: flex;
		justify-content: space-between;
	}

	.heading {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.sorts {
		display: flex;
		gap: .5rem;
		flex-wrap: wrap;
	}

	.sort {
		background-color: transparent;
		color: var(--text-color);
		border: 1px solid var(--border-color);
		border-radius: 999px;
		padding: .3rem .5rem;
		cursor: pointer;
		text-decoration: none;

		&.active {
			background-color: #333;
			border: 1px solid #333;
			color: white
		}
	}

	.list {
		border-radius: .5rem;
		padding: 2rem 1rem;
		box-shadow: 0 0 1.5rem #ccc;

		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-bottom: 1rem;
	}

	.item {
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 1rem;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	.date {
		font-size: 1rem;
		font-weight: 600;
		letter-spacing: .03rem;
		padding-bottom: .5rem;
	}

	.info {
		display: flex;
		justify-content: space-between;
		font-size: .8rem;
		font-style: italic;
	}

	.topic {
		color: var(--text-secondary-color);
	}

	.rating {
		color: var(--text-secondary-color);
		.color {
			font-size: 1.2rem;
			&.awful {
				color: var(--awful-color);
			}
			&.bad {
				color: var(--bad-color);
			}
			&.fine {
				color: var(--fine-color);
			}
			&.good {
				color: var(--good-color);
			}
			&.great {
				color: var(--great-color);
			}
		}
	}

	.entry {
		padding-top: .5rem;
	}

	.actions {
		display: flex;
		gap: 1rem;
		justify-content: flex-end;
		font-size: .8rem;
		* {
			color: var(--text-secondary-color);
		}
	}
}

