#journal-list-page {
	max-width: 40rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.heading {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.list {
		border: 1px groove var(--border-color);
		border-radius: .5rem;
		padding: 2rem 1rem;
		box-shadow: 0 0 1.5rem #ccc;

		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-bottom: 1rem;
	}

	.item {
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 1rem;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	.date {
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: .05rem;
		padding-bottom: .5rem;
	}

	.info {
		display: flex;
		justify-content: space-between;
	}

	.topic {}

	.rating {}

	.entry {
		padding-top: .5rem;
	}
}
