#journal-view-page {
	display: grid;
	grid-gap: 3rem;
	max-width: 60rem;
	margin: 0 auto;

	@media screen and (min-width: 40rem) {
		grid-template-columns: 2fr 1fr;
	}

	.journal {
		max-width: 40rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		border-radius: .5rem;
		padding: 2rem 1rem;
		box-shadow: 0 0 1.5rem #ccc;
	}

	.top {
		display: flex;
		justify-content: space-between;
	}

	.heading {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.actions {
		display: flex;
		gap: 1rem;
		justify-content: flex-end;
	}

	.back {
		text-decoration: none;
		margin-right: auto;
	}

	.kebab-content {
		display: grid;
		grid-gap: 1rem;
		width: 7rem;
	}

	.action-link {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.info {
		display: flex;
		justify-content: space-between;
		font-size: .8rem;
		font-style: italic;
	}

	.topic {
		color: var(--text-secondary-color);
	}

	.rating {
		color: var(--text-secondary-color);
		.color {
			font-size: 1.2rem;
			&.awful {
				color: var(--awful-color);
			}
			&.bad {
				color: var(--bad-color);
			}
			&.fine {
				color: var(--fine-color);
			}
			&.good {
				color: var(--good-color);
			}
			&.great {
				color: var(--great-color);
			}
		}
	}

	.entry {
		border-top:  1px solid var(--border-color);
		padding: 1rem 0;
		white-space: pre-line;
	}

	.pagination {
		border-top: 1px solid var(--border-color);
		padding: 1rem 0;
		display: flex;
	}

	.next {
		margin-left: auto;
	}

	.right-margin {
		display: grid;
		grid-gap: 1rem;
	}
}
