#journal-view-page {
	display: grid;
	grid-gap: 1rem;

	@media screen and (min-width: 40rem) {
		grid-template-columns: 2fr 1fr;
	}

	.journal {
		max-width: 40rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.heading {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.actions {
		display: flex;
		gap: 1rem;
		justify-content: flex-end;
	}

	.back {
		text-decoration: none;
		margin-right: auto;
	}

	.info {
		display: flex;
		justify-content: space-between;
	}

	.entry {
		border-top:  1px solid var(--border-color);
		padding: 1rem 0;
		white-space: pre-line;
	}
}
