#footer {
	background-color: var(--primary-color-lightest);
	padding: 1rem;
	text-align: center;
	height: 3.5rem;
}

.links {
	display: flex;
	justify-content: center;
	gap: .5rem;
	color: var(--text-secondary-color);
}
