.label {
}

.input,
.textarea,
.select {
	background-color: transparent;
	padding: .4rem 1rem;
	border: none;
	border-bottom: 1px solid var(--border-color);
	font-size: 1rem;
}

.select {
	background-color: transparent;

	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	background-image: url("/assets/fontawesome/svgs/solid/chevron-down.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 12px;
}

.input {
}

.textarea {
	resize: vertical;
}

.legend {
	padding-bottom: .5rem;
}

.field {
	display: flex;
	flex-direction: column;
	gap: .3rem;
}

.checkField {
	display: flex;
	gap: .2rem;
}
