PORT=4815
APP_ENV=local
BLUEPRINT_DB_HOST=localhost
BLUEPRINT_DB_PORT=5432
BLUEPRINT_DB_DATABASE=journal
BLUEPRINT_DB_USERNAME=username
BLUEPRINT_DB_PASSWORD=password
BLUEPRINT_DB_SCHEMA=public
CRYPTO_KEY=

ACCESS_TOKEN_PRIVATE_KEY=
ACCESS_TOKEN_PUBLIC_KEY=
ACCESS_TOKEN_EXPIRES_IN=43200m

MG_DOMAIN=
MG_KEY=
MG_WEBHOOK_KEY=

OWNER_EMAIL=

ROOT_URL=http://localhost:4815

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
CF_TOKEN=
