package dashboard

import (
	"github.com/gofiber/fiber/v2"
	"journal/cmd/web"
	"journal/cmd/web/journal"
)

templ DashboardPage(c *fiber.Ctx) {
	@web.Base(c) {
		<div id="dashboard-page">
			<h1 class="heading">How are you today?</h1>
			@journal.Form(c, nil)
			<br/>
			@RatingCalendar(c)
		</div>
	}
}
