package dashboard

import "github.com/gofiber/fiber/v2"

templ MoodByDayContent(c *fiber.Ctx) {
	@templ.JSONScript("mood-by-day-data", c.Locals("moodByDayData"))
	<script src="/assets/js/components/moodByDay.js" type="module"></script>
}

templ MoodByDay(c *fiber.Ctx) {
	<div
		id="mood-by-day"
		hx-get="/dashboard/mood-by-day"
		hx-trigger="load"
		hx-target="#mood-by-day"
		hx-swap="innerHTML"
	></div>
}
