package dashboard

import "github.com/gofiber/fiber/v2"

templ MoodChartContent(c *fiber.Ctx) {
	@templ.JSONScript("mood-chart-data", c.Locals("moodChartData"))
	<script src="/assets/js/components/moodChart.js" type="module"></script>
}

templ MoodChart(c *fiber.Ctx) {
	<div
		id="mood-chart"
		hx-get="/dashboard/mood-chart"
		hx-trigger="load"
		hx-target="#mood-chart"
		hx-swap="innerHTML"
	></div>
}
