package dashboard

import (
	"github.com/gofiber/fiber/v2"
	"journal/internal/models"
	"journal/internal/utils"
)

templ MoodChart(c *fiber.Ctx) {
	<div id="mood-chart">
		@templ.JSONScript("mood-chart-journals", utils.GetLocal[[]*models.Journal](c, "journals"))
		<script src="/assets/js/components/moodChart.js" type="module"></script>
	</div>
}
