#journal-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;

	max-width: 40rem;
	margin: 0 auto;
	background-color: var(--surface);
	border-radius: var(--radius-lg);
	padding: 2rem 1rem;
	box-shadow: var(--shadow-sm);

	.label-container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 1rem;
	}

	.row {
		display: grid;
		grid-gap: 1.5rem;

		@media screen and (min-width: 40rem) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		gap: 1.5rem;
		align-items: center;

		.autosave-status {
			font-size: var(--text-sm);
			color: var(--text-secondary-color);
		}
	}

	.bookmark-label {
		input {
			opacity: 0;
			position: fixed;
		}
	}
}

