package auth

templ AuthForm(action string) {
	<form
		hx-post={ action }
		hx-target="body"
		hx-push-url="/dashboard"
	>
		<label for="email">Email</label>
		<input id="email" name="email" type="text"/>
		<label for="password">Password</label>
		<input id="password" name="password" type="password"/>
		<button type="submit">Submit</button>
	</form>
}
