package auth

import (
	"github.com/gofiber/fiber/v2"
	"go-starter/cmd/web"
)

templ LoginPage(c *fiber.Ctx) {
	@web.Base(c) {
		<div id="login-page">
			<h1 class="heading">Login</h1>
			@AuthForm("/api/auth/login")
			<a href="/auth/register">Sign Up</a>
		</div>
	}
}
