package auth

import (
	"github.com/gofiber/fiber/v2"
	"go-starter/cmd/web"
)

templ RegisterPage(c *fiber.Ctx) {
	@web.Base(c) {
		<div id="register-page">
			<h1 class="heading">Register</h1>
			@AuthForm("/api/auth/register")
			<a href="/auth/login">Sign In</a>
		</div>
	}
}
