package emails

import "fmt"

const (
	FORGOT_PASSWORD = "forgot-password"
)

type ForgotPasswordVariables struct {
	RootUrl    string
	ResetToken string
}

templ ForgotPassword(vars *ForgotPasswordVariables) {
	<div style="font-family: sans-serif; text-align: center">
		<h2>You forgot your password!</h2>
		<p>That's okay, just click the following link to reset it.</p>
		<br/>
		<a
			href={ templ.SafeURL(fmt.Sprintf("%s/auth/reset?token=%s", vars.RootUrl, vars.ResetToken)) }
			style="
			text-decoration: none;
			color: #fff;
			background-color: #000;
			padding: 10px 20px;
			border-radius: 5px;
			"
		>Reset Password</a>
	</div>
}
