#forgot-page {
	display: grid;
	gap: 1rem;
	align-items: center;

	.heading {
		font-size: 1.5rem;
		font-weight: 600;
	}
	
	.form {
		max-width: 500px;
		padding: 1px 0;

		display: grid;
		gap: 1rem;
		align-items: center;
	}
}

