.kebab-menu {
	position: relative;

	.button {
		border-color: transparent;
		background-color: transparent;
	}

	.dialog {
		margin: 0;
		padding: var(--space-2);
		border-radius: var(--radius-md);
		border: 1px solid var(--border-color);
		background-color: var(--surface);
		box-shadow: var(--shadow-md);
		position: absolute;
		top: 2.5rem;
		right: 0;
		transform: translateX(-60%);
		z-index: 1000;
	}
}
