#thankful-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: .5rem;

	.item {
		border-bottom: 1px solid var(--border-color);
	}

	.created {
		font-size: .7rem;
		font-style: italic;
	}

	.info {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.text {
		flex: 1;
		font-size: 1rem;

		&.completed {
			text-decoration: line-through;
		}
	}
	
	.button {
		border: none;
	}
}
