:root {
	--primary-color: #B0F8E8;
	--secondary-color: #FFD1B4;

	--primary-color-light: #CBFCF1;
	--primary-color-lightest: #E9FEFA;
	--primary-color-dark: #96F2DE;
	--primary-color-darkest: #7EEAD2;

	--secondary-color-light: #FFE0CE;
	--secondary-color-lightest: #FFF2E9;
	--secondary-color-dark: #FFC39E;
	--secondary-color-darkest: #FFB689;

	--text-color: #2f2f2f;
	--text-secondary-color: #5f5f5f;
	--text-color-inverse: #fff;
	--background-color: #fafafa;
	--border-color: #ccc;

	--awful-color: #C44536;   /* deep red */
	--bad-color:   #E27A3F;   /* orange */
	--fine-color:  #E0B84C;   /* warm amber */
	--good-color:  #6FBF8F;   /* green */
	--great-color: #2FA4A9;   /* teal */
}

* {
	color: var(--text-color);
}
