:root {
	--primary-color: #B0F8E8;
	--secondary-color: #FFD1B4;

	--primary-color-light: #CBFCF1;
	--primary-color-lightest: #E9FEFA;
	--primary-color-dark: #96F2DE;
	--primary-color-darkest: #7EEAD2;

	--secondary-color-light: #FFE0CE;
	--secondary-color-lightest: #FFF2E9;
	--secondary-color-dark: #FFC39E;
	--secondary-color-darkest: #FFB689;

	--text-color: #2f2f2f;
	--text-secondary-color: #5f5f5f;
	--text-color-inverse: #fff;
	--background-color: #fafafa;
	--border-color: #ccc;

	--awful-color: #B55A4A;
	--bad-color: #C97A5D;
	--fine-color: #9CA3AF;
	--good-color: #7FAF9B;
	--great-color: #5FA3A2;
}

* {
	color: var(--text-color);
}
