:root {
	--primary-color: #0fa;
	--secondary-color: #f0a;
	--text-color: #0c0c0c;
	--text-secondary-color: #444;
	--text-color-inverse: #fff;
	--background-color: #fff;
	--border-color: #ccc;

	--awful-color: #B55A4A;
	--bad-color: #C97A5D;
	--fine-color: #9CA3AF;
	--good-color: #7FAF9B;
	--great-color: #5FA3A2;
}

* {
	color: var(--text-color);
}
