package web 

import "github.com/gofiber/fiber/v2"

templ Header(c *fiber.Ctx) {
	<header class="top-bar">
		<h1 class="heading">
			<span class="title">
				Contour Journal
			</span>
			<span class="subtitle">
				The shape of your mind
			</span>
		</h1>
	</header>
}
