package auth

import (
	"github.com/gofiber/fiber/v2"
	"journal/internal/web"
)

templ ResetPage(c *fiber.Ctx) {
	@web.Base(c) {
		<div id="reset-page">
			<h1 class="heading">Reset Password</h1>
			<form
				class="form"
				hx-put="/api/auth/reset"
			>
				<div class="field">
					<label class="label" for="password">New Password</label>
					<input class="input" id="password" name="password" type="password"/>
				</div>
				<div class="field">
					<label class="label" for="confirmPassword">Confirm Password</label>
					<input
						class="input"
						id="confirmPassword"
						name="confirmPassword"
						type="password"
					/>
				</div>
				<input
					class="input"
					id="token"
					name="token"
					type="hidden"
					value={ c.Query("token") }
				/>
				<button class="button" type="submit">Submit</button>
			</form>
		</div>
	}
}
