#action-item-list-page {
	width: 100%;
	max-width: 40rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	margin: 0 auto;

	.heading {
		font-size: 1.3rem;
		font-weight: 600;
	}
}

#action-item-list-filters {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding-bottom: 1rem;

	.filter-heading {
		font-size: 1.1rem;
		font-weight: 600;
	}

	.filter-set {
		display: flex;
		gap: .5rem;
		flex-wrap: wrap;
	}

	.filter {
		display: inline-block;
		padding: .5rem 1rem;
		cursor: pointer;
		border: 1px solid var(--border-color);
		border-radius: 999px;
		text-decoration: none;

		&.active {
			border: 1px solid #333;
			background-color: #333;
			color: white;
		}
	}
}

#action-item-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: .5rem;

	.item {
		border-bottom: 1px solid var(--border-color);
	}

	.completed, .created {
		font-size: .7rem;
		font-style: italic;
	}

	.info {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.text {
		flex: 1;
		font-size: 1rem;

		&.completed {
			text-decoration: line-through;
		}
	}
	
	.button {
		border: none;
	}
}
