#profile-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	.heading {
		font-size: 2rem;
	}

	.forms {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
		gap: 1rem;
	}

	.form {
		flex: 1;
		border: 1px solid #ccc;
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
		border-radius: .3rem;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
