package profile

import (
	"fmt"
	"github.com/gofiber/fiber/v2"
	"journal/internal/models"
	"journal/internal/stripe"
	"journal/internal/utils"
	"journal/internal/web"
	"journal/internal/web/customJournalTypes"
)

templ infoForm(c *fiber.Ctx) {
	<form
		class="form"
		hx-put="/api/profile"
		hx-swap="none"
		hx-on::after-request="handleHtmxSuccess(event, 'Saved!')"
	>
		<div class="field">
			<label for="email" class="label">Email</label>
			<input
				class="input"
				type="email"
				name="email"
				id="email"
				value={ web.CurrentUser(c).Email }
				disabled
			/>
		</div>
		<div class="field">
			<label for="firstName" class="label">First Name</label>
			<input
				class="input"
				name="firstName"
				id="firstName"
				value={ web.CurrentUser(c).FirstName }
			/>
		</div>
		<div class="field">
			<label for="lastName" class="label">Last Name</label>
			<input
				class="input"
				name="lastName"
				id="lastName"
				value={ web.CurrentUser(c).LastName }
			/>
		</div>
		<div class="field">
			<button
				type="submit"
				class="button"
			>
				Save
			</button>
		</div>
	</form>
}

templ passwordForm(c *fiber.Ctx) {
	<form
		class="form"
		hx-put="/api/profile/password"
		hx-swap="none"
		hx-on::after-request="handleHtmxSuccess(event, 'Saved!');this.reset();"
	>
		<div class="field">
			<label for="currentPassword" class="label">Current Password</label>
			<input
				class="input"
				type="password"
				name="currentPassword"
				id="currentPassword"
			/>
		</div>
		<div class="field">
			<label for="newPassword" class="label">New Password</label>
			<input
				class="input"
				type="password"
				name="newPassword"
				id="newPassword"
			/>
		</div>
		<div class="field">
			<label for="confirmNewPassword" class="label">Confirm New Password</label>
			<input
				class="input"
				type="password"
				name="confirmNewPassword"
				id="confirmNewPassword"
			/>
		</div>
		<div class="field">
			<button
				type="submit"
				class="button"
			>
				Change Password
			</button>
		</div>
	</form>
}

func getFeatures(c *fiber.Ctx) []*models.Feature {
	features := utils.GetLocal[[]*models.Feature](c, "features")
	return *features
}

templ featureForm(c *fiber.Ctx) {
	<form
		class="form"
		hx-put="/api/profile/features"
		hx-swap="none"
		hx-on::after-request="handleHtmxSuccess(event, 'Saved!');window.location.reload()"
	>
		<fieldset class="field">
			<legend class="label legend">Features</legend>
			for _, userFeature := range web.CurrentUser(c).UserFeatures {
				<div class="check-field">
					<input
						id={ fmt.Sprint(userFeature.FeatureID) }
						type="checkbox"
						name="features[]"
						value={ fmt.Sprint(userFeature.FeatureID) }
						if web.CurrentUser(c).HasFeature(userFeature.Feature.Code) {
							checked
						}
					/>
					<label class="label" for={ fmt.Sprint(userFeature.FeatureID) }>{ userFeature.Feature.Name }</label>
				</div>
			}
		</fieldset>
		<div class="field">
			<button
				type="submit"
				class="button"
			>
				Save
			</button>
		</div>
	</form>
}

templ blurTextToggle(c *fiber.Ctx) {
	<div class="checkField">
		<input
			type="checkbox"
			id={ fmt.Sprintf("blur-text-%s", web.CurrentUser(c).ID.String()) }
			onchange="localStorage.setItem(this.id, this.checked)"
		/>
		<script>
			document.getElementById('{{ fmt.Sprintf("blur-text-%s", web.CurrentUser(c).ID.String()) }}').checked = localStorage.getItem('{{ fmt.Sprintf("blur-text-%s", web.CurrentUser(c).ID.String()) }}') === 'true'
		</script>
		<label for={ fmt.Sprintf("blur-text-%s", web.CurrentUser(c).ID.String()) }>Blur Sensitive Text</label>
	</div>
}

templ customJournalTypeForm(c *fiber.Ctx) {
	<div class="form">
		<h4>Custom Topics</h4>
		@customJournalTypes.Form(c, nil)
		@customJournalTypes.List(c, web.CurrentUser(c).CustomJournalTypes)
	</div>
}

templ featureList(c *fiber.Ctx) {
	<div class="features">
		for _, feature := range getFeatures(c) {
			if !web.CurrentUser(c).HasFeature(feature.Code) {
				<div class="feature">
					<h4 class="feature-name">{ feature.Name }</h4>
					<p class="feature-description">{ feature.Description }</p>
					<div class="feature-images">
						switch feature.Code {
							case "custom-topics":
								<div>
									<img src="/assets/images/custom-topic-form.png" class="feature-image"/>
								</div>
								<div>
									<img src="/assets/images/custom-topic-journal.png" class="feature-image"/>
								</div>
							case "routines":
								<div>
									<img src="/assets/images/routine-form.png" class="feature-image"/>
								</div>
								<div>
									<img src="/assets/images/routine-in-list.png" class="feature-image"/>
								</div>
						}
					</div>
					<button
						class="button"
						hx-put={ fmt.Sprintf("/api/profile/features/%d", feature.ID) }
						hx-swap="none"
						hx-on::after-request="handleHtmxSuccess(event, 'Saved!');window.location.reload()"
					>
						Get this feature
						if feature.StripePriceID != "" {
							{ fmt.Sprintf("($%.2f)", stripe.GetPrice(feature.StripePriceID).UnitAmountDecimal / float64(100)) }
						}
					</button>
				</div>
			}
		}
	</div>
}

templ ProfilePage(c *fiber.Ctx) {
	@web.Base(c) {
		<div id="profile-page">
			<h1 class="heading">Profile</h1>
			@blurTextToggle(c)
			<div class="forms">
				@infoForm(c)
				@passwordForm(c)
				if len(web.CurrentUser(c).UserFeatures) > 0 {
					@featureForm(c)
				}
				if web.CurrentUser(c).HasFeature("custom-topics") {
					@customJournalTypeForm(c)
				}
			</div>
			if len(web.CurrentUser(c).UserFeatures) < len(getFeatures(c)) {
				<h2 class="heading">Features</h2>
				@featureList(c)
			}
		</div>
	}
}
