package dashboard

import (
	"github.com/gofiber/fiber/v2"
	"journal/internal/models"
	"journal/internal/utils"
	"journal/internal/web"
	"journal/internal/web/actionItems"
	"journal/internal/web/journal"
)

func getOutstandingActionItems(c *fiber.Ctx) []*models.ActionItem {
	actionItems := utils.GetLocal[[]*models.ActionItem](c, "outstandingActionItems")
	if actionItems != nil {
		return *actionItems
	}
	return []*models.ActionItem{}
}

templ DashboardPage(c *fiber.Ctx) {
	@web.Base(c) {
		<div id="dashboard-page">
			<h2 class="heading">How are you feeling?</h2>
			@journal.Form(c, nil)
			<br/>
			<h3 class="heading">Here's what's left.</h3>
			@actionItems.Form(c, nil, nil)
			<br/>
			@actionItems.List(c, getOutstandingActionItems(c))
			<br/>
			@RatingCalendar(c)
			<br/>
			@MoodByDay(c)
			<br/>
			@MoodChart(c)
			<br/>
			@MoodVsThankfulness(c)
			<br/>
			@MoodVsActionCompletion(c)
			<br/>
			@MoodByTopic(c)
			<br/>
			@FrequencyChart(c)
			<br/>
			@MoodByTod(c)
			<br/>
			@ThankfulFrequencyChart(c)
		</div>
	}
}
