package dashboard

import (
	"github.com/gofiber/fiber/v2"
	"journal/internal/web/components"
)

templ DistByTopicContent(c *fiber.Ctx) {
	@components.TimespanFieldset("/dashboard/topic-distribution", "", "topic-dist-days", "#dist-by-topic", c.QueryInt("days", 30))
	<div class="dist-by-topic">
		@templ.JSONScript("dist-by-topic-data", c.Locals("distByTopicData"))
		<script src="/assets/js/components/distByTopic.js" type="module" onload="document.dispatchEvent(new Event('load-dist-by-topic'))"></script>
	</div>
}

templ DistByTopic(c *fiber.Ctx) {
	<div
		id="dist-by-topic"
		hx-get="/dashboard/topic-distribution"
		hx-trigger="load"
		hx-target="#dist-by-topic"
		hx-swap="innerHTML"
	></div>
}
