package dashboard

import (
	"github.com/gofiber/fiber/v2"
	"journal/internal/web/components"
)

templ FrequencyChartContent(c *fiber.Ctx) {
	@components.MonthPager("/dashboard/entry-time-frequency", "#frequency-chart", current(c), monthYearLabel(c))
	<div class="frequency-chart">
		@templ.JSONScript("frequency-chart-data", c.Locals("frequencyChartData"))
		<script src="/assets/js/components/frequencyChart.js" type="module" onload="document.dispatchEvent(new Event('load-frequency-chart'))"></script>
	</div>
}

templ FrequencyChart(c *fiber.Ctx) {
	<div
		id="frequency-chart"
		hx-get="/dashboard/entry-time-frequency"
		hx-trigger="load"
		hx-target="#frequency-chart"
		hx-swap="innerHTML"
	></div>
}
