package dashboard

import (
	"fmt"
	"github.com/gofiber/fiber/v2"
)

templ MoodByTopicContent(c *fiber.Ctx) {
	<fieldset class="options">
		<legend>Timespan</legend>
		<div class="checkField">
			<input
				type="radio"
				value="7"
				name="topic-days"
				id="topic-days-7"
				hx-get={ templ.SafeURL(fmt.Sprintf("/dashboard/mood-by-topic?days=%d", 7)) }
				hx-trigger="click"
				hx-target="#mood-by-topic"
				hx-swap="innerHTML"
				if c.QueryInt("days", 30) == 7 {
					checked
				}
			/>
			<label for="topic-days-7">Last 7 days</label>
		</div>
		<div class="checkField">
			<input
				type="radio"
				value="30"
				name="topic-days"
				id="topic-days-30"
				hx-get={ templ.SafeURL(fmt.Sprintf("/dashboard/mood-by-topic?days=%d", 30)) }
				hx-trigger="click"
				hx-target="#mood-by-topic"
				hx-swap="innerHTML"
				if c.QueryInt("days", 30) == 30 {
					checked
				}
			/>
			<label for="topic-days-30">Last 30 days</label>
		</div>
		<div class="checkField">
			<input
				type="radio"
				value="90"
				name="topic-days"
				id="topic-days-90"
				hx-get={ templ.SafeURL(fmt.Sprintf("/dashboard/mood-by-topic?days=%d", 90)) }
				hx-trigger="click"
				hx-target="#mood-by-topic"
				hx-swap="innerHTML"
				if c.QueryInt("days", 30) == 90 {
					checked
				}
			/>
			<label for="topic-days-90">Last 90 days</label>
		</div>
	</fieldset>
	<div class="mood-by-topic">
		@templ.JSONScript("mood-by-topic-data", c.Locals("moodByTopicData"))
		<script src="/assets/js/components/moodByTopic.js" type="module" onload="document.dispatchEvent(new Event('load-mood-by-topic'))"></script>
	</div>
}

templ MoodByTopic(c *fiber.Ctx) {
	<div
		id="mood-by-topic"
		hx-get="/dashboard/mood-by-topic"
		hx-trigger="load"
		hx-target="#mood-by-topic"
		hx-swap="innerHTML"
	></div>
}
