package dashboard

import (
	"github.com/gofiber/fiber/v2"
	"journal/internal/web/components"
)

templ MoodChartContent(c *fiber.Ctx) {
	@components.MonthPager("/dashboard/mood-chart", "#mood-chart", current(c), monthYearLabel(c))
	<div class="mood-chart">
		@templ.JSONScript("mood-chart-data", c.Locals("moodChartData"))
		@templ.JSONScript("mood-chart-ratings-data", c.Locals("ratings"))
		<script src="/assets/js/components/moodChart.js" type="module" onload="document.dispatchEvent(new Event('load-mood-chart'))"></script>
	</div>
}

templ MoodChart(c *fiber.Ctx) {
	<div
		id="mood-chart"
		hx-get="/dashboard/mood-chart"
		hx-trigger="load"
		hx-target="#mood-chart"
		hx-swap="innerHTML"
	></div>
}
