package dashboard

import (
	"github.com/gofiber/fiber/v2"
	"journal/internal/web/components"
)

templ MoodByTopicContent(c *fiber.Ctx) {
	@components.TimespanFieldset("/dashboard/mood-by-topic", "", "topic-days", "#mood-by-topic", c.QueryInt("days", 30))
	<div class="mood-by-topic">
		@templ.JSONScript("mood-by-topic-data", c.Locals("moodByTopicData"))
		@templ.JSONScript("mood-by-topic-ratings-data", c.Locals("ratings"))
		<script src="/assets/js/components/moodByTopic.js" type="module" onload="document.dispatchEvent(new Event('load-mood-by-topic'))"></script>
	</div>
}

templ MoodByTopic(c *fiber.Ctx) {
	<div
		id="mood-by-topic"
		hx-get="/dashboard/mood-by-topic"
		hx-trigger="load"
		hx-target="#mood-by-topic"
		hx-swap="innerHTML"
	></div>
}
