package dashboard

import "github.com/gofiber/fiber/v2"

templ MoodVsActionCompletionContent(c *fiber.Ctx) {
	@templ.JSONScript("mood-vs-action-completion-data", c.Locals("moodVsActionCompletionData"))
	<script src="/assets/js/components/moodVsActionCompletion.js" type="module"></script>
}

templ MoodVsActionCompletion(c *fiber.Ctx) {
	<div
		id="mood-vs-action-completion"
		hx-get="/dashboard/mood-vs-action-completion"
		hx-trigger="load"
		hx-target="#mood-vs-action-completion"
		hx-swap="innerHTML"
	></div>
}
