package dashboard

import (
	"fmt"
	"github.com/gofiber/fiber/v2"
)

templ MoodByDayContent(c *fiber.Ctx) {
	<fieldset class="options">
		<legend>Timespan</legend>
		<div class="checkField">
			<input
				type="radio"
				value="7"
				name="days"
				id="days-7"
				hx-get={ templ.SafeURL(fmt.Sprintf("/dashboard/mood-by-day?days=%d", 7)) }
				hx-trigger="click"
				hx-target="#mood-by-day"
				hx-swap="innerHTML"
				if c.QueryInt("days", 30) == 7 {
					checked
				}
			/>
			<label for="days-7">Last 7 days</label>
		</div>
		<div class="checkField">
			<input
				type="radio"
				value="30"
				name="days"
				id="days-30"
				hx-get={ templ.SafeURL(fmt.Sprintf("/dashboard/mood-by-day?days=%d", 30)) }
				hx-trigger="click"
				hx-target="#mood-by-day"
				hx-swap="innerHTML"
				if c.QueryInt("days", 30) == 30 {
					checked
				}
			/>
			<label for="days-30">Last 30 days</label>
		</div>
		<div class="checkField">
			<input
				type="radio"
				value="90"
				name="days"
				id="days-90"
				hx-get={ templ.SafeURL(fmt.Sprintf("/dashboard/mood-by-day?days=%d", 90)) }
				hx-trigger="click"
				hx-target="#mood-by-day"
				hx-swap="innerHTML"
				if c.QueryInt("days", 30) == 90 {
					checked
				}
			/>
			<label for="days-90">Last 90 days</label>
		</div>
	</fieldset>
	<div class="mood-by-day">
		@templ.JSONScript("mood-by-day-data", c.Locals("moodByDayData"))
		<script src="/assets/js/components/moodByDay.js" type="module" onload="document.dispatchEvent(new Event('load-mood-by-day'))"></script>
	</div>
}

templ MoodByDay(c *fiber.Ctx) {
	<div
		id="mood-by-day"
		hx-get="/dashboard/mood-by-day"
		hx-trigger="load"
		hx-target="#mood-by-day"
		hx-swap="innerHTML"
	></div>
}
