package dashboard

import (
	"github.com/gofiber/fiber/v2"
	"journal/internal/web/components"
)

templ RoutineCompletionRateContent(c *fiber.Ctx) {
	@components.TimespanFieldset("/dashboard/routine-completion-rate", "", "routine-completion-rate-days", "#routine-completion-rate", c.QueryInt("days", 30))
	<div class="routine-completion-rate">
		@templ.JSONScript("routine-completion-rate-data", c.Locals("routineCompletionRateData"))
		<script src="/assets/js/components/routineCompletionRate.js" type="module" onload="document.dispatchEvent(new Event('load-routine-completion-rate'))"></script>
	</div>
}

templ RoutineCompletionRate(c *fiber.Ctx) {
	<div
		id="routine-completion-rate"
		hx-get="/dashboard/routine-completion-rate"
		hx-trigger="load"
		hx-target="#routine-completion-rate"
		hx-swap="innerHTML"
	></div>
}
