package dashboard

import (
	"github.com/gofiber/fiber/v2"
	"journal/internal/web/components"
)

templ ThankfulFrequencyChartContent(c *fiber.Ctx) {
	@components.MonthPager("/dashboard/thankful-frequency", "#thankful-frequency-chart", current(c), monthYearLabel(c))
	<div class="thankful-frequency-chart">
		@templ.JSONScript("thankful-frequency-chart-data", c.Locals("thankfulFrequencyChartData"))
		<script src="/assets/js/components/thankfulFrequencyChart.js" type="module" onload="document.dispatchEvent(new Event('load-thankful-frequency-chart'))"></script>
	</div>
}

templ ThankfulFrequencyChart(c *fiber.Ctx) {
	<div
		id="thankful-frequency-chart"
		hx-get="/dashboard/thankful-frequency"
		hx-trigger="load"
		hx-target="#thankful-frequency-chart"
		hx-swap="innerHTML"
	></div>
}
