@import url("/assets/css/dashboard/ratingCalendar.css");
@import url("/assets/css/dashboard/moodChart.css");
@import url("/assets/css/dashboard/moodByDay.css");
@import url("/assets/css/dashboard/moodByTod.css");
@import url("/assets/css/dashboard/frequencyChart.css");
@import url("/assets/css/dashboard/thankfulFrequencyChart.css");
@import url("/assets/css/dashboard/moodByTopic.css");
@import url("/assets/css/dashboard/distByTopic.css");
@import url("/assets/css/dashboard/routineCompletionRate.css");
@import url("/assets/css/dashboard/moodVsActionCompletion.css");
@import url("/assets/css/dashboard/moodVsThankfulness.css");

#dashboard-page {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 40rem;
	margin: 0 auto;

	.tabs {
		display: flex;
		margin: 0 auto 1rem;

		padding: .2rem;
		background-color: var(--primary-color-darkest);
		cursor: pointer;
		border-radius: 5rem;

		.tab {
			padding: .3rem 1rem;
			text-decoration: none;
			color: var(--text-color-inverse);

			&.active {
				border-radius: 5rem;
				color: var(--text-color);
				background-color: var(--secondary-color-lightest);
			}
		}
	}

	.heading {
		padding-bottom: 1rem;
		font-size: 1.5rem;
		font-weight: 600;
	}
}

