@import url("/assets/css/dashboard/ratingCalendar.css");
@import url("/assets/css/dashboard/moodChart.css");
@import url("/assets/css/dashboard/moodByDay.css");
@import url("/assets/css/dashboard/moodByTod.css");
@import url("/assets/css/dashboard/frequencyChart.css");
@import url("/assets/css/dashboard/moodByTopic.css");
@import url("/assets/css/dashboard/moodVsActionCompletion.css");
@import url("/assets/css/dashboard/moodVsThankfulness.css");

#dashboard-page {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 40rem;
	margin: 0 auto;

	.heading {
		padding-bottom: 1rem;
		font-size: 1.5rem;
		font-weight: 600;
	}
}

