#thankful-frequency-chart {
	padding: .5rem;
	border-radius: var(--radius-lg);
	background-color: var(--secondary-color-lightest);
	box-shadow: var(--shadow-sm);
	text-align: center;

	canvas {
		min-height: 15rem;
	}

	.button {
		margin: 0 .5rem;
		min-height: 2rem;
		padding: .3rem .6rem;
	}
}
